<!DOCTYPE html>
<html lang="en">
<head>
<title>TV Show Update</title>
</head>
<body>
<form action="#" method="post" >
    <p>Update an Existing Record</p>
<table>
<tbody>
<tr>
    <td>Name of TV Show to Update:</td>
    <td><input type="text" name="newname" /></td>
</tr>
<tr>
    <td>Field to Update:</td>
    <td><input type="text" name="newfield" /></td>
</tr>
<tr><td>('NS' = Number of Seasons, 'EL' = Episode Length, 'YB' = Year Series Began)</td></tr>
</tbody>
</table>
<br>
<table>
<tbody>
<tr>
    <td>Updated Information:</td>
    <td><input type="text" name="newinfo" /></td>
</tr>
</tbody>
</table>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>